<div class="ad">
    <%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
    <%= image_tag("cpap.png") %>
</div>
<div class="ad">
    <%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
    <%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
    <%= image_tag("cpap.png") %>
</div>
<div class="ad">
    <%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
    <%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
    <%= image_tag("cpap.png") %>
</div>
<div class="ad">
    <%= image_tag("Goddamn_computer_virus.jpg") %>
</div><div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div><div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div><div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div><div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div><div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>
<div class="ad">
<%= image_tag("Hydroxycut.jpg") %>
</div>
<div class="ad">
<%= image_tag("cpap.png") %>
</div>
<div class="ad">
<%= image_tag("Goddamn_computer_virus.jpg") %>
</div>




