<div class="user-home">
    <h2 class="user-header"> Logged in as <%= current_user.email %></h2>

    <div class="user-quizzes">
        <h2> Created Quizzes </h2>
        <% current_user.created_quizzes.each do |quiz| %>
            <%= link_to edit_quiz_path(quiz) do %>
                <h3> <%= quiz.title %></h3>
            <% end %>
        <% end %>
    </div>
    <div class="user-quizzes">
    <h2> Taken Quizzes </h2>
    <% current_user.taken_quizzes.each do |q| %>
        <h3> <%= q.title %> </h3>
        <%= current_user.quiz_result(q) %>
    <% end %>
    <br>
    <br>
    <br>

    <h5>Average Score: <%= current_user.average_score %></h5>
</div>
</div>
<%=@params  %>