<h3> STATS </h3>
<div class="stat">
    <h6> Quiz Count</h6>
    <%= Quiz.amount %>
</div>
<div class="stat">
    <h6> Newest Quiz</h6>
    <%= Quiz.newest_quiz.title %>
</div>
<div class="stat">
    <h6> Oldest Quiz</h6>
    <%= Quiz.oldest_quiz.title %>
</div>
<div class="stat">
    <h6> User Count</h6>
    <%= Quiz.amount %>
</div>
<div class="stat">
    <h6> Most Created Quizzes</h6>
    <%= User.most_created %>
    <br>
    <%= User.most_created_number %>
</div>
<div class="stat">
    <h6> Most Quizzes Taken</h6>
    <%= User.most_taken_quizzes %>
    <br>
    <%= User.most_taken_quizzes_count %>
</div>
<div class="stat">
    <h6> Highest Avg. Score </h6>
    <%= User.highest_score %>
    <br>
    <%= (User.highest_score_number * 100).round(0) %>%
</div>
<div class="stat">
    <h6> Most Taken Quiz </h6>
    <%= Quiz.most_taken_quiz %>
</div>
<div class="stat">
    <h6> Most Active User </h6>
    <%= User.most_responses %>
    <br>
    <%= User.most_responses_count %>
    <p>Questions Answered</p>
</div>
<div class="stat">
    <h6> Total Questions </h6>
    <%= Question.total_questions %>
    <br>
</div> 
<div class="stat">
    <h6> Biggest Dummy </h6>
    <%= User.biggest_dummy %>
</div> 




