<h3> STATS </h3>
<div class="stat">
    <h6> Quiz Count</h6>
    <%= Quiz.amount %>
</div>
<div class="stat">
    <h6> Newest Quiz</h6>
    <%= Quiz.newest_quiz.title %>
</div>
<div class="stat">
    <h6> Oldest Quiz</h6>
    <%= Quiz.oldest_quiz.title %>
</div>
<div class="stat">
    <h6> User Count</h6>
    <%= Quiz.amount %>
</div>
<div class="stat">
    <h6> User Most Created</h6>
    <%= User.most_created %>
</div>
<div class="stat">
    <h6> Most Quizzes Taken</h6>
    <%= User.most_taken_quizzes %>
    <br>
    <%= User.most_taken_quizzes_count %>
</div>
<div class="stat">
    <h6> Highest Score </h6>
    <%= User.highest_score %>
    <br>
    <%= User.highest_score_number %>
</div>
<div class="stat">
    <h6> Most Taken Quiz </h6>
    <%= Quiz.most_taken_quiz %>
</div>



