<!DOCTYPE html>
<html>
  <head>
    <title>QuizKnows</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>        
    <header>
    <h1 class="logo"> QuizKnows </h1>
    <nav>   
        <ul>
            <% if current_user %>
              <li><%= link_to "Logout", :logout %></li>
              <li><%= link_to "Edit User", edit_user_path(current_user) %></li>
            <% else %>
              <li><a href="/"> about </a></li>
              <li><a href="/"> enter social-security </a></li>
              <li><a href="/"> getting started </a></li>
            <% end %>
        </ul>
    </nav>
  </header>
  <div class="sidebar">
    <% @ads.each do |ad| %>
        <%= link_to ad[:url] do %> 
            <div class="ad">
                <%= ad[:name] %>
            </div>
        <% end %>
    <%end%>
  </div>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <%=yield%>
  </div>
  <footer>
    Give us the moneys.com
  </footer>
  </body>
</html>
